body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remover estilos padrão do Create React App */
.App {
  text-align: left;
}

.App-logo {
  display: none;
}

.App-header {
  display: none;
}

.App-link {
  display: none;
}